* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;  
  }
  
  html, body {
    height: 100%;
}

body {
    font-family: sans-serif;
    background: #040404;
}

/* Menu */

nav {
    padding: 10px;
    margin: 10px;
}

.menu ul li { 
    background-color: #2b3235 ;
    float: left; /* deixar o menu flutuando a direita*/
    margin: 10px;
    border-radius: 3px;
}

a:hover{
    background-color: #d5d3d356;
    color: #ffffff;
    border-radius: 3px;
}

a {
    padding: 10px;
    margin: 3px;
    text-align: center;
    width: 80px;
    height: 35px;
    display: inline-block;
    color: #2aa6ee;
    border-radius: 3px;
}

/* contactBox */

#contactBox {
    margin-top: 80px; 
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Title */

.contactTitle {
    color: #2aa6ee;
    font-size: 2.0rem;
}

/* Inputs */

label {
    margin: 15px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

p{
    color: #2aa6ee;

}

label input {
    font-family: sans-serif;
    font-size: 1.0rem;
    color: #f9f9f9;
    background: transparent;


    padding: 12px;
    min-width: 22rem;

    border-radius: 0.2rem;
    border: 2px solid #7a7a7a56;
}

label input:focus {
    border-color: #2aa6ee;
}


/* CommentBox */

#boxDescription {
    height: 100px;
}

#commentBox{
    font-size: 1.2rem;
    border-radius: 0.2rem;
    padding: 10px;
    color: #2aa6ee;
    background-color: #7a7a7a56;
    width: 350px;
    height: 180px;
}

/* Button*/

.button:hover {
    background-color: #d5d3d356;
    color: #ffffff;

}

.button{
    text-align: center;
    margin:5px;
    background-color: #2b3235;
    color: #2aa6ee;
    font-size: 1.2rem;
    padding: 12px 10px;
    min-width: 22rem;
    border-radius: 0.2rem;
    cursor: pointer;
}

